.idea
.DS_Store
.env
.env.*
!*.enc
!.env.template
*.env
lerna-debug.log
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/public/storybook
web/types/graphql.d.ts
api/types/graphql.d.ts
notes.md
zipped
package-lock.json
deleteme.*
*.deleteme.*
deleteme/
locales/
.vercel
build-storybook.log
jwks.js
jwks.*.js
packages/*/dist/
install-state.gz
.~lock.*
metrics/**/*
.next
/od-app/
/od-app/*